.vagrant/
.DS_Store
*.DS_Store
.idea/
*.class
*.[Cc]ache
BigBoost/project/target/
BigBoost/project/project/project/
BigBoost/project/project/target/
Scala-Python/target/
Scala-Python/project/project/
Scala-Python/project/target/
